---
import Layout from "@/layouts/Layout.astro";
import Slider from "@/components/slider";
const { frontmatter } = Astro.props;
---

<Layout>
    <div class="flex flex-col items-center rounded-xl bg-cover bg-top bg-no-repeat overflow-x-hidden h-svh w-full overflow-hidden bg-plan max-w-md mx-0 my-auto">
        <img src="/faclogo.png" class="h-12 mt-10"/>
        {frontmatter.name==='mathcom'||frontmatter.name==='imagetech'?(
                <div class="flex flex-col items-center justify-center -mt-1 mb-3">
                    <img src={frontmatter.head} class="max-h-16"/>
                    <div class="text-[#0e1979] text-xl font-bold font-notothai">{frontmatter.title_thai}</div>                    
                </div>
                ):(
                <div class="flex flex-col items-center justify-center my-2">
                    <img src={frontmatter.head} class="h-14"/>
                    <div class="text-[#0e1979] text-xl font-bold font-notothai">{frontmatter.title_thai}</div>                    
                </div>
                )}
      <div class="relative flex justify-center items-center mb-[32px]">
        <div
          class="absolute top-2 right-[20px] mt-[10px] w-[440px] h-[135px] bg-[#2c63b5] rounded-xl"
        >
        </div>
        <div
          class="relative left-[20px] w-[440px] h-[135px] bg-white rounded-xl shadow-lg"
        >
          {
            frontmatter.name === "bsac" || frontmatter.name === "bbtech" ? (
              <p
                class="font-notothai text-[#0e1979] text-sm w-full px-4 py-2"
                set:html={frontmatter.description}
              />
            ) : (
              <p
                class="font-notothai text-[#0e1979] text-sm w-full p-4"
                set:html={frontmatter.description}
              />
            )
          }
        </div>
      </div>

      <Slider images={frontmatter.images} client:load />

      <div
        class="flex flex-row ml-2 gap-2 mt-[12px] mb-6 justify-between w-[400px]"
      >
        <a href={frontmatter.fac}><img src="/fac.png" class="h-8" /></a>
        <a href={frontmatter.ig}><img src="/ig.png" class="h-8" /></a>
        <a href={frontmatter.web}><img src="/web.png" class="h-8" /></a>
      </div>
    </div>
  </div>
</Layout>
