---
import Layout from "@/layouts/Layout.astro";
import Slider from "@/components/slider";
const {frontmatter} = Astro.props;
---

<Layout>
    <div class="flex flex-col min-w-md h-screen items-center rounded-xl overflow-hidden bg-plan">
            <div class="flex flex-col items-center justify-center mt-[63px]">
                <div class=" flex my-3 items-center justify-center h-[47px] w-[232px]">
                    <img src="/faclogo.png"/>
                </div>
                <div class="flex flex-col items-center justify-center mt-[50px] h-[82px]">
                    <img src={frontmatter.head} class="h-[60px]"/>
                </div>

                <div class="relative flex justify-center items-center pt-[16px]">
                    <div class="absolute top-4 right-[100px] mt-[16px] w-[440px] h-[135px] bg-[#2c63b5] rounded-xl"></div>
                    <div class="relative left-[70px] w-[440px] h-[135px] bg-[#dad9d9]  rounded-xl shadow-lg">
                      <div class=" h-[68px] justify-center items-center mr-[75px] ml-[15px] my-[5px] " style={{color:'#002144'}}>
                        <slot class="font-notothai text-sm mr-[75px] ml-[20px] my-[10px] " /> 
                      </div>
                    </div>
                </div>
                <div class="mt-[20px] h-[330px] w-[397px]">
                    <Slider images={frontmatter.images} client:load/>
                </div>
                <div class="grid grid-cols-3 gap-[12px] mt-[60px]">
                    <div class="h-[31px] w-[120px]">
                        <a href={frontmatter.fac}/>
                        <img src="/fac.png"/>
                    </div>
                    <div class="h-[31px] w-[120px]">
                        <a href={frontmatter.web}/>
                        <img src="/web.png"/>
                    </div>
                    <div class="h-[31px] w-[120px]">
                        <a href={frontmatter.ig}/>
                        <img src="/ig.png"/>
                    </div>
                </div>
                <div class="mt-[20px]">
                    <img src="/navLogo.png" class="w-[125px] h-[40px]" />
                </div>
            </div>
    </div>
</Layout>