---
import Layout from "@/layouts/Layout.astro";
import Slider from "@/components/slider";
import { Image } from "astro:assets";
import header from "@/image/header2.png";
import footer from "@/image/footer.png";
import fac from "@/image/page3/fac.png";
import ig from "@/image/page3/ig.png";
import web from "@/image/page3/web.png";
const { frontmatter } = Astro.props;
---

<Layout>
  <div class="relative min-h-screen">
    {/* Background images */}
    <Image
      src={ header }
      alt={"header"}
      class="w-full absolute top-0 left-0 z-10 pointer-events-none"
    />
    <Image
      src={ footer}
      alt={"footer"}
      class="w-full absolute bottom-0 left-0 z-10 pointer-events-none"
    />

    {/* Main content container */}
    <div
      class="flex flex-col items-center justify-start rounded-xl bg-top bg-no-repeat overflow-x-hidden min-h-screen w-full bg-plan z-0 max-w-md mx-auto"
    >
      {
        frontmatter.name === "mathcom" || frontmatter.name === "imagetech" ? (
          <div class="flex flex-col items-center justify-center -mt-1 mb-3">
            <img src={frontmatter.head} class="max-h-16 mt-36" />
            <div class="text-[#0e1979] text-xl text-center font-bold font-notothai">
              {frontmatter.title_thai}
            </div>
          </div>
        ) : (
          <div class="flex flex-col items-center justify-center my-2">
            <img src={frontmatter.head} class="h-14 mt-32" />
            <div class="text-[#0e1979] text-xl text-center font-bold font-notothai">
              {frontmatter.title_thai}
            </div>
          </div>
        )
      }
      <div class="relative flex justify-center items-center mb-[32px]">
        <div
          class="absolute top-2 right-[20px] mt-[10px] w-full h-[135px] bg-[#2c63b5] rounded-xl"
        >
        </div>
        <div
          class="relative left-[20px] w-full h-[135px] bg-white rounded-xl shadow-lg"
        >
          {
            frontmatter.name === "bsac" || frontmatter.name === "bbtech" ? (
              <p
                class="font-notothai text-[#0e1979] text-sm w-full pl-4 pr-6 py-2"
                set:html={frontmatter.description}
              />
            ) : (
              <p
                class="font-notothai text-[#0e1979] text-sm w-full pl-4 pr-6 py-2"
                set:html={frontmatter.description}
              />
            )
          }
        </div>
      </div>

      <div class="w-full">
        <Slider images={frontmatter.images} client:load />
      </div>

      <div class="flex flex-row ml-2 mt-3 mb-28 justify-between w-[93%]">
        <a href={frontmatter.fac}><Image src={fac} alt="facebook"/></a>
        <a href={frontmatter.ig}><Image src={ig} alt="instagram"/></a>
        <a href={frontmatter.web}><Image src={web} alt="website"/></a>
      </div>
    </div>
  </div>
</Layout>
